<!DOCTYPE html>
<html xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<section class="banner d-flex justify-content-center align-items-center">
<div  class="text-center">
	<h1>Smart Contact Manager</h1>
	<p>Start Collecting your Contacts in smarter way. We Provide very efficient and smarter way of handling contacts.</p>
	<button class="btn bg-color text-white btn-lg">Get Started</button>
</div>
</section>
</body>
</html>